{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.css') }}">
{% endblock %}

{% block body %}
    <div id="container">
        <div class="loginDiv" id="singUp">
            <form v-on:submit.prevent="create">
                <div class="row">
                    <div class="columns large-4 large-offset-4 medium-8 medium-offset-2">
                        <input type="text" v-model="oUsers.name" placeholder="Fullname"/>
                    </div>
                </div>
                <div class="row">
                    <div class="columns large-4 large-offset-4 medium-8 medium-offset-2">
                        <input type="text" v-model="oUsers.email" placeholder="Email"/>
                    </div>
                </div>
                <div class="row">
                      <div class="columns large-4 large-offset-4 medium-8 medium-offset-2">
                        <input type="password" v-model="oUsers.password" placeholder="Password"/>
                      </div>
                </div>
                <div class="row">
                      <div class="columns large-4 large-offset-4 medium-8 medium-offset-2 clearfix">
                        <button type="submit" class="button right radius">Sign me up</button>
                      </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.17/vue-resource.min.js"></script> 

    <script type="text/javascript" src="{{ asset('assets/js/common/HttpUtility.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/users/UserController.js') }}"></script>
{% endblock %}