{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css">
{% endblock %}

{% block body %}
    <div id="app">
      ${ message }
    </div>
    <form>
        <div class="row">
          <div class="medium-6 columns">
            <label>Input Label
              <input type="text" placeholder=".medium-6.columns">
            </label>
          </div>
          <div class="medium-6 columns">
            <label>Input Label
              <input type="text" placeholder=".medium-6.columns">
            </label>
          </div>
        </div>
      </form>
{% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.js"></script>

    <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/users/UserController.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/authentication/AuthController.js') }}"></script>
{% endblock %}